.package-index{
  display: flex;
  justify-content: space-around;
}

.package-img-container{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.package-img-container>img{
  object-fit: cover;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.package-img-container>img:hover{
  opacity: 1;
}
