body{
  font-family: 'Rubik', sans-serif;
  color: #666;
  margin: 0;
}

ul{
  padding-left: 0;
  list-style: none;
}

.home-background{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.home-background>img{
  object-fit: cover;
  width: 100%;
  filter: brightness(80%);
  opacity: 0.5;
}

.home{
  z-index: 5;
  width: 60%;
  margin: 150px auto;
}

.home>form{
  width: 100%;
}

.home>h1{
  color: black;
  text-align: center;
}

.home-page-address{
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.home-page-address>input{
  width: 13%;
  border: 1px solid lightgray;
  border-radius: 3px;
  background-color: white;
}

.home-page-address-input{
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  width: 85%;
  display: flex;
}

.home-page-address-input>input{
  border: none;
  padding: 10px;
}

.home-page-address-input>input:first-of-type{
  width: 80%;
}

.home-page-address-input>.zipcode{
  border-left: 1px solid lightgray;
  width:15%;
}

.home-nav{
  margin-left: 70%;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.package-index{
  display: flex;
  justify-content: space-around;
  width: 50%;
  min-width: 960px;
  margin: 100px auto;
}

.package-img-container{
  width: 200px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.package-img-container>img{
  object-fit: cover;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
}

.package-img-container>img:hover{
  opacity: 1;
}

.package-index button{
  padding: 8px 15px;
  background-color: #f5f5f5;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 100%;
}

.package-index button:hover{
  background-color: lightgray;
}

.package-item>h1{
  text-align: center;
}

.package-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.package-item>ul{
  margin-left: 15px;
}

.session-form{
  width: 20%;
  margin-top: 200px;
  margin-left: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.session-form>form{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.session-form>form>input{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.home-center{
  height: 600px;
}

.footer{
  background-color: #f5f5f5;
  border-top: 1px solid #e6e6e6;
  margin-top: 150px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer p{
  font-size: 12px;
}

.footer-main{
  width: 50%;
  margin: 15px auto;
}

.footer-list{
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-list>li{
  font-size: 14px;
  font-weight: bold;
}

.footer-list>li>ul>li{
  padding-top: 10px;
  font-weight: normal;
  color: #0073bb;
  cursor: pointer;
}

.footer-list>li>ul>li>i{
  margin-right: 5px;
}

.footer-list>li>ul>li:hover{
  text-decoration: underline;
}

.tooltip{
  position: relative;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}

.tooltip .tooltiptext{
  position: absolute;
  visibility: hidden;
  top: -90%;
  width: 150px;
  height: 15px;
  background-color: #555;
  opacity: 0.9;
  transition: opacity 1s;
  z-index: 1;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.tooltip .tooltiptext:after {
  content: "";
  display: block;
  position: absolute;
  top: 80%;
  left: 20%;
  border: 10px solid transparent;
  border-top-color: #555;
  opacity: 0.9;
  z-index: 1;
}

.hidden{
  display: none;
}

.hint:after {
  content: " ";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  border: 10px solid transparent;
  border-top-color: #555;
  opacity: 0.9;
  z-index: 1;
}

.hint{
  position: absolute;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  width: 150px;
  top: -50px;
  left: 30%;
  background-color: #555;
  color: #fff;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0.9;
  transition: opacity .6s;
}

.package-price{
  font-size: 36px;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.package-price>p{
  font-size: 14px;
}
