.contractor-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  border: 1px solid black;
  background-color: #D1D1D1;
}

.nav-links{
  list-style-type: none;
}

.nav-links li{
  padding: 20px;
  text-transform: uppercase;
}

.nav-links li:hover{
  background-color: white;
}

.contractor-container{
  display: flex;
}

.service-history-container {
  margin-left: 155px;
  margin-top: 5px;
}

.service-list-items {
  height: 200px;
  width: 300px;
  border: 1px solid black;
}

.button{
  background-color: #269CE9;
  /*background-color: #552583;*/
  border-color: #269CE9;
  /*border-color: #552583;*/
  width: 150px;
  height: 25px;
  border-radius: 10px;
}

.button:hover{
  /*background-color: #552583;*/
  background-color: #269CE9;
  opacity: .8;
}

.button:active{
  /*background: #562790;*/
  background-color: #395998;
  border-color: #552583;
}

.contractor-upload-panel{
  position: fixed;
  margin-left: 660px;
  margin-top: 5%;
  height: 70%;
  width: 55%;
  border: 1px solid black;
  background-color: lightblue;
}

.Overlay-photo-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.65);
}

.modal-container {
	/*background-color: #EDEDED;*/
	background-color: #black;
  width: 400px;
  height: 500px;
}
