doctype html

html
  head
    meta(charset="utf-8")
    title="Homeco"
      
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
    script(type="text/javascript" src="bundle.js")
    script.
      if ($.cookie('user.email') && $.cookie('user._id')) {
        window.currentUser = {
          email: $.cookie('user.email'),
          _id: $.cookie('user._id'),
          customerType: $.cookie('user.customerType')
        };
      }
    link(href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet")
    style
      include application.css
  
  body
    div(id="root")
