.user-pannel{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background-color: lightgray;
  height: 100vh;
}


.user-pannel li{
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
}

.user-pannel li:hover{
  background-color: white;
}

.user-my-home{
  margin-left: 250px;
}

.property-information{
  margin-top: 100px;
}

.property-information td{
  padding-left: 30px;
}
