.user-pannel{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  background-color: lightgray;
  height: 100vh;
}


.user-pannel li{
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
}

.clicked{
  background-color: white;
}

.user-pannel li:hover{
  background-color: white;
}

.user-my-home{
  margin-left: 250px;
}

.property-information, .user-package-detail, .user-payment-info{
  margin-top: 100px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  width: 350px;
}

.property-information:hover{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.property-information td{
  padding-left: 30px;
}

.user-schedules, .user-payment, .user-servicehistory, .user-package{
  margin-left: 250px;
}

.user-schedules-index, .user-servicehistory{
  display: flex;
  flex-direction: column;
  width: 382px;
}

.user-schedule-detail{
  display: flex;
  justify-content: space-between;
}

.reschedule-service{
  margin-top: 25px;
  color: red;
  cursor: pointer;
  font-size: 14px;
  text-align: right;
}

.reschedule-service:hover{
  text-decoration: underline;
}

.schedule-status{
  margin-left: 228px;
  margin-top: 20px;
  font-size: 14px;
  cursor: pointer;
  color: #0073bb;
}

.schedule-status:hover{
  text-decoration: underline;
}

.user-schedule-item{
  height: 50px;
  width: 350px;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.user-schedule-item:hover{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.more-button{
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.more-button:hover{
  background-color: lightgray;
}

.button-disable:hover{
  background-color: white;
}

.button-disable{
  color: lightgray;
}

.modal-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title h2{
  margin: 0;
}

.modal-close{
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

.modal-close:hover{
  color: black;
}

.reschedule{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.reschedule>input:first-of-type{
  width: 60%;
}

.reschedule>input:last-of-type:hover{
  background-color: gray;
  color: white;
  font-weight: bold;
}

.reschedule>input{
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 4px 10px;
}

.service-history-img-container{
  margin: 10px 10px 0 0;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 3px;
}

.service-history-img-container>img{
  object-fit: cover;
  height: 100%;
}

strong{
  font-size: 24px;
  padding-left: 10px;
}

.user-package-service-list{
  font-weight: bold;
}

.user-package-service-list>li{
  font-weight: normal;
  padding: 10px;
}

.payment-input{
  font-size: 18px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.payment-input label{
  margin-top: 15px;
}

.payment-input input {
  font-size: 18px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  width: 100%;
}
.payment-input input[type='submit'] {
  margin-top: 35px;
  width: 100%;
}

.payment-input input[type='submit']:hover {
  background-color: gray;
  color: white;
  font-weight: bold;
}

.user-payment-info{
  border-radius: 10px;
  padding: 50px;
}

.user-payment-info>p{
  font-size: 24px;
  font-weight: bold;
}

.user-payment-info-bottom{
  display: flex;
  justify-content: space-between;
}

.user-payment-info-logo{
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
